<h3>满足条件的股票 ({alert_count} 只)</h3>

<h4>价格技术指标</h4>
<table>
    <tr>
        <th>股票代码</th>
        <th>股票名称</th>
        <th>最低价</th>
        <th>MA60</th>
        <th>收盘价</th>
        <th>收盘-MA60差值</th>
        <th>差值(%)</th>
        <th>最低价-MA60差值</th>
        <th>差值(%)</th>
        <th>条件</th>
    </tr>
    {alert_rows_technical}
</table>

<h4>基本面指标</h4>
<table>
    <tr>
        <th>股票代码</th>
        <th>股票名称</th>
        <th>每股分红(元)</th>
        <th>股息率(%)</th>
        <th>业绩增长(%)</th>
        <th>PE</th>
        <th>PB</th>
        <th>ROE(%)</th>
        <th>负债率(%)</th>
    </tr>
    {alert_rows_fundamental}
</table>